# System files
.DS_Store

# Data
data/*
!data/splits.json

# Python
__pycache__

# VS Code
.vscode

# Conda
.conda
.conda-meta
.conda-env
.conda-env-meta

# Jupyter
.ipynb_checkpoints

# Weights & Biases
wandb/
checkpoints/